{% extends "olymp/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}Список олимпиад{% endblock %}

{% block content %}
   <h1>Результат Олимпиады</h1>
    {% if user.is_authenticated == False %}
        <p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
    {% else %}

    {% endif %}
{% endblock %}


{% block sub_content %}


{% if flgChecked %}

<table cellpadding="10" align="center" width="60%">
  {% for mark in marks%}
    <tr>
        {% for m in mark %}
        <td>
            {{m}}
        </td>
         {% endfor %}
     </tr>
    {% endfor %}
    <tr><td>Итог:</td><td> {{sum}}</td></tr>
</table>

{% else %}
    <H3> Пока что Ваша работа не проверена </H3>
{% endif %}

{% endblock %}


