{% extends "olymp/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}Список олимпиад{% endblock %}

{% block content %}
   <h1>Олимпиады</h1>
    {% if user.is_authenticated == False %}
        <p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
    {% else %}

    {% endif %}
{% endblock %}


{% block sub_content %}

    {% if isSpec > 0 %}


<form method="post">
     {% csrf_token %}
     <h3>Добавление Олимпиады</h3>
<table>

    <tr>
        <td> {%  bootstrap_field form.name %}</td>
    </tr>

</table>

    <input align="center" class="btn btn-primary" type="submit" value="Добавить" class="button"/>
</form>
     {%endif%}
<table cellpadding="10" align="center" width="60%">
  {% for eq in eqs%}
    <tr>
        <td>{{ eq.name}}</td>
        {% if isSpec > 0 %}
            <td><a href="/olymp/detail/{{ eq.id }}/" class="btn btn-default">Редактировать</a>
        {%else%}
            {% if eq.isParticipated %}
                  <td><a href="/olymp/result/{{ eq.id }}/" class="btn btn-primary">Результат</a>
            {%else%}
                <td><a href="/olymp/participate/{{ eq.id }}/" class="btn btn-default">Участвовать</a>
            {% endif %}
        {%endif%}
       </td>
        <td></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}


