{% extends "olymp/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Регистрация{% endblock %}

{% block style_block %}
    .register_form {
    width: 500px;
    margin: 0 auto;
    }
{% endblock %}

{% block content %}
<H1> Регистрация </H1>

{% endblock %}
{% block sub_content %}
    <form method="post" action="." class="register_form">
        {% csrf_token %}
        {{ form.management_form }}
        <table>
            <tr>
            <td>
            {% bootstrap_field form.username %}
                </td>
            <td>
            {% bootstrap_field form.password %}
                </td>
            <td>
            {% bootstrap_field form.rep_password %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
            {% bootstrap_field form.mail %}
                </td>
                </tr>
            <tr>
                 <td>
            {% bootstrap_field form.second_name %}
                    </td>
                <td>
            {% bootstrap_field form.name %}
                    </td>

                <td>
            {% bootstrap_field form.patronymic %}
                </td>
                </tr>
            <tr>
                <td clospan="2">
            {% bootstrap_field form.university %}
                </td>
                 <td>
                    {% bootstrap_field form.code %}
                </td>

            </tr>
            <tr>
                   <td colspan="3">
            {% bootstrap_field form.problemTypes %}
                        *Нужно указывать только в случае, если Вы проверяющий специалист
                   </td>
            </tr>
            <tr>

                {% buttons %}
                <td align="center" colspan="3">
                    <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
                    <input type="reset" class="btn" value="Отмена">

                </td>
                {% endbuttons %}
            </tr>
    </table>
            <div align="center">

            </div>
        </form>
{% endblock %}