{% extends "olymp/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}Работы{% endblock %}

{% block content %}
    <h1>Работы</h1>
    {% if isSpec > 0 %}

    {% else %}
        <p>Этот раздел доступен только администраторам и специалистам</p>
    {% endif %}
{% endblock %}


{% block sub_content %}

    {% if isSpec > 0 %}

        <h3>Список работ</h3>
        <table width="40%" align="center">
        {% for w in arr %}
            <tr>
                <td>Номер работы: {{w.pk}}</td>
                <td><a href="/work/getScan/{{w.pk}}/" class="btn btn-default">Скачать</a></td>

                <td><a href="/work/vote/{{w.pk}}/" class="btn {%if w.checked %} btn-primary {%else%} btn-default {%endif %}">Оценить</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}

    {% endif %}
{% endblock %}


