{% extends "olymp/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}Список задач{% endblock %}

{% block content %}
   <h1>Работы</h1>
    {% if isSpec>1 %}

    {% else %}
        <p>Этот раздел доступен только администраторам и специалистам</p>
    {% endif %}

{% endblock %}


{% block sub_content %}

{% if isSpec>0 %}

     {% csrf_token %}
    <h3>Список работ</h3>
 {% else %}
    {% endif %}


{% endblock %}


